@mixin h {
    margin-top: 3rem;
    padding-bottom: 0.5rem;
}

.post {
    word-break: break-all;
    .title {
        border: none;
        margin: 1rem 0 1rem 0;
    }
    .date {
        font-size: 0.9rem;
        font-weight: 300;
        color: #333;
    }
    .tags {
        .tag {
        }
    }
    h1 {
        @include h;
        font-size: 1.7rem;
        font-weight: normal;
        border-bottom: 1px solid #ff6b00;
    }
    h2 {
        @include h;
        font-size: 1.5rem;
        font-weight: normal;
        border-bottom: 1px solid #ff6b00;
    }
    h3 {
        @include h;
        font-size: 1.4rem;
    }
    h4 {
        @include h;
        font-size: 1.2rem;
    }
    h5 {
        @include h;
        font-size: 1.1rem;
    }
    h6 {
        @include h;
        font-size: 1rem;
    }
    p {
        line-height: 1.8rem;
    }
    hr {
        border: none;
        height: 1px;
        background: radial-gradient(#b3b3b3, #ffd6c3);
    }
    // code block に影響しないように pre で囲まれてない code にだけ適用する
    :not(pre) > code {
        font-family: monospace;
        background-color: #fdf6e3;
        padding: 2px 4px;
        color: #268bd2;
        border-radius: 3px;
    }
    pre {
        white-space: pre-wrap;
    }
    em {
        font-family: Georgia, serif;
    }
    ul,
    ol {
        padding-left: 1.5rem;
    }
    blockquote {
        margin-left: 0;
        padding-left: 0.8rem;
        border-left: 4px solid #aaa;
        color: #777;
    }
}
